.hero {
    position: relative;
    min-height: 72vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.62) 0%,
            rgba(0, 0, 0, 0.18) 55%,
            rgba(0, 0, 0, 0) 100%
    );
}

.inner {
    position: relative;
    min-height: 72vh;
    z-index: 1;
    height: 924px;
    display: flex;
    align-items: stretch;
    padding-top: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    gap: var(--s3);
    flex-direction: column;
    padding: var(--s4) 0;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    padding: var(--s4) 0;
}

.features {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px 8px;
    flex-wrap: wrap;
}

.bottomBtn {
    display: flex;
    align-items: flex-end;
}

.videoToggle {
    border: none;
    background: transparent;
    padding: 0;
    line-height: 0;
    color: #f6f6f6;
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.videoToggle:hover {
    opacity: 0.85;
    transform: none;
}

.videoToggle:active {
    opacity: 0.75;
}

.title {
    font-family: "Roboto Flex", sans-serif;
    font-size: 96px;
    line-height: 1;
    text-transform: uppercase;
    color: #f6f6f6;

    font-variation-settings:
            "opsz" 96,
            "wght" 600,
            "GRAD" 150,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 79,
            "YTAS" 750,
            "YTDE" 203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712,
            "slnt" 0,
            "wdth" 151;
}

.text {
    min-width: 345px;
    max-width: 624px;
    align-self: stretch;
    color: #f6f6f6;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.heroBtn {
    width: 345px;
    color: #121212;
}

.feature {
    display: flex;
    min-width: 200px;
    max-width: 265px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}

.featureTitle {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.featureText {
    color: #daddde;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}
